<% content_for :main do %>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h3 class="fw-light">Import units:</h3>
          <p class="lead text-muted">Select json file including 3 level of units</p>
          <div>
            <%= form_with url: "#{$base_path}/view/units/import", multipart: true do |form| %>
              <%#= file_field_tag 'json_files[]', multiple: true %>
            <div class="mb-3">
              <label for="formFile" class="form-label">Default file input example</label>
              <%= file_field_tag 'json_file', id: "formFile", class: "form-control" %>
            </div>
              <%= form.submit 'Import', class: "btn btn-secondary my-2 float-end" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% @units.each do |unit| %>
          <%#= link_to :controller => "unit", :action => 'get_lvl_1_units', 'parent-id' => unit.id do %>
          <%= link_to "#{$base_path}/view/units/#{unit.id}" do %>
            <div class="col">
              <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                <div class="card-body">
                  <h3><%= unit.name %><i class="bi-alarm"></i></h3>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
          <% end %> <br>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
